*~
*.beam
*.o
ebin/exmpp.app
ebin/exmpp.appup
ebin/*.beam
/include/internal/erim_known_attrs.hrl
/include/internal/erim_known_elems.hrl
/include/internal/erim_known_nss.hrl
/src/erim_known_attrs.erl
/src/erim_known_elems.erl
/src/erim_known_nss.erl
stamp-h1
testsuite/etest
deps/
/priv/lib/*.so
ebin/erim_xml.app
/doc
/.rebar
/rebar.lock
/_build
/Makefile
/c_src/Makefile
/priv/Makefile
/aclocal.m4
/autom4te.cache/
/c_src/Makefile
/config.log
/config.status
/configure
/rebar.config
