*~
*.beam
*.o
*.d
*.so
/ebin
/include/internal/erim_known_attrs.hrl
/include/internal/erim_known_elems.hrl
/include/internal/erim_known_nss.hrl
/src/erim_known_attrs.erl
/src/erim_known_elems.erl
/src/erim_known_nss.erl
testsuite/etest
deps/
/doc
/Makefile
/c_src/env.mk
/config.log
/config.status
/autom4te.cache
/src/erim_xml.app.src
