% -*- mode: erlang -*-
{require_min_otp_vsn, "R18"}.

{deps, []}.

{plugins, 
 [
  pc,
  {econfig, {git, "https://github.com/erocci/econfig.git", {branch, "master"}}}
 ]}.

{provider_hooks, 
 [
  {pre, [
	 {compile, {econfig, template}},
	 {compile, {pc, compile}}
	]},
  {post, [
	  {clean, {econfig, clean}},
	  {clean, {pc, clean}}
	 ]}
 ]
}.

{econfig, 
 [
  {model, 
   [
    {build, "Build erim_xml", boolean, true, 
     [{menu, [build_expat, build_xml]}]
    }
     
   ,{build_expat, "Build libexpat XML parser backend", boolean, true,
     [{depends, [prefix_libexpat]}]
    }
    
   ,{build_xml, "Build libxml2 XML parser backend", boolean, true,
     [{depends, [prefix_libxml2]}]
    }
    
   ,{prefix_libexpat, "libexpat prefix", string, "/usr", 
     [{call, {econfig_pkgconfig, prefix, ["expat"]}}]}
    
   ,{prefix_libxml2, "libxml2 prefix", string, "/usr", 
     [{call, {econfig_pkgconfig, prefix, ["libxml-2.0"]}}]}
   ]},

  {files, ["rebar.config"]}
 ]
}.
