% -*- mode: erlang -*-
{require_min_otp_vsn, "R12B"}.

{deps, []}.

{plugins, 
 [
  pc,
  {econfig, {git, "https://github.com/erocci/econfig.git", {branch, "master"}}}
 ]}.

{provider_hooks, 
 [
  {pre, [
	 {compile, {econfig, template}},
	 {compile, {pc, compile}}
	]},
  {post, [
	  {clean, {econfig, clean}}
	 ]}
 ]
}.

{econfig, 
 [
  {model, 
   [
    {build_expat, "Build libexpat XML parser backend", boolean, true,
     [{depends, [{prefix_libexpat, '_'}]}]
    }
    
   ,{build_xml, "Build libxml2 XML parser backend", boolean, true,
     [{depends, [{prefix_libxml2, '_'}]}]
    }
    
   ,{prefix_libexpat, "libexpat prefix", string, "/usr", 
     []}
    
   ,{prefix_libxml2, "libxml2 prefix", string, "/usr", 
     []}
   ]},

  {files, ["rebar.config"]}
 ]
}.
