% -*- mode: erlang -*-
{erl_opts, [debug_info,
	    {src_dirs, ["src", "examples"]},
	    {d, 'HAVE_EXPAT', true},
	    {d, 'HAVE_LIBXML2', true},
	    {i, "../include"}
	   ]}.

{require_min_otp_vsn, "R12B"}.

{clean_files, ["src/erim_known_attrs.erl",
	       "src/erim_known_elems.erl",
	       "src/erim_known_nss.erl",
	       "include/internal/erim_known_attrs.hrl",
	       "include/internal/erim_known_elems.hrl",
	       "include/internal/erim_known_nss.hrl"]}.

{pre_hooks, [
	     {compile, "priv/erim_known.es nss include/internal/erim_known_nss.in"},
	     {compile, "priv/erim_known.es elems include/internal/erim_known_elems.in"},
	     {compile, "priv/erim_known.es attrs include/internal/erim_known_attrs.in"}
	    ]}.

{port_specs, [
	      % Expat port driver
	      {".*", "priv/lib/erim_xml_expat.so",
	       ["c_src/erim_driver.c", "c_src/erim_xml.c", "c_src/erim_xml_expat.c"],
	       [{env, 
		 [{"LDFLAGS", "$LDFLAGS -lexpat"}]}
	       ]},
	      {".*", "priv/lib/erim_xml_expat_legacy.so",
	       ["c_src/erim_driver.c", "c_src/erim_xml.c", 
		"c_src/erim_xml_expat_legacy.c"],
	       [{env, 
		 [{"LDFLAGS", "$LDFLAGS -lexpat"}]}
	       ]},
	      % LibXML2 port drivers
	      {".*", "priv/lib/erim_xml_libxml2.so",
	       ["c_src/erim_driver.c", "c_src/erim_xml.c", "c_src/erim_xml_libxml2.c"],
	       [{env,
		 [{"CFLAGS", "$CFLAGS -I/usr/include/libxml2"}, 
		  {"LDFLAGS", "$LDFLAGS -lxml2"}]}
	       ]}
	     ]}.

{deps, []}.

%% EDoc options
{edoc_opts, [{subpackages, true},
	     {packages, false}
	    ]}.
